In [2]:
import sqlite3
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

### 필요한 데이터 추출, view는 1점, cart는 2점, purchase는 3점 부여

In [3]:
cosine_test = pd.read_csv('testview.csv')
cosine_test = cosine_test[['user_id', 'product_id', 'event_type']]
cosine_test['event_type'] = cosine_test['event_type'] + 1
cosine_test

          user_id  product_id  event_type
0       558670273     1801766           1
1       512910051    14300312           1
2       518616373     5701084           1
3       519440228     4804056           1
4       515153637    17800123           1
...           ...         ...         ...
299995  519812790     1004875           1
299996  550424295     1004873           1
299997  512831600     5100721           1
299998  535853700     4802593           1
299999  562194237     1004768           1

[300000 rows x 3 columns]

### user_id와 product_id 별로 합친 점수

In [4]:
cosine = cosine_test.groupby(['user_id', 'product_id'], as_index=False).sum()
cosine

          user_id  product_id  event_type
0       277655927     3701059           1
1       340041246     1002547           1
2       356633662     4501015           1
3       359825691     1003285           1
4       359900031     6300402           1
...           ...         ...         ...
282578  566270060     1004209           1
282579  566272419     1004857           1
282580  566274399     1002524           1
282581  566278294     1005144           1
282582  566278481     3900815           1

[282583 rows x 3 columns]

### 제품 별 유사도를 측정하기 위해 pivot table 구성

In [43]:
product_user_cosine = cosine.iloc[:100000].pivot_table('event_type', index = 'product_id', columns='user_id')
product_user_cosine

user_id,277655927,340041246,356633662,359825691,359900031,366495445,367963359,370076704,376516889,392378381,...,520290766,520290940,520291075,520291284,520291495,520291889,520291962,520291993,520292032,520292386
product_id,,,,,,,,,,,,,,,,,,,,,
1000978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56300037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56600004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57300036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60500001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60500002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
product_user_cosine.fillna(0, inplace = True)
product_user_cosine

user_id,277655927,340041246,356633662,359825691,359900031,366495445,367963359,370076704,376516889,392378381,...,520290766,520290940,520291075,520291284,520291495,520291889,520291962,520291993,520292032,520292386
product_id,,,,,,,,,,,,,,,,,,,,,
1000978,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1001588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1002042,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1002062,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1002098,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56300037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56600004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57300036,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60500001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60500002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 코사인 유사도

In [8]:
item_based_collabor = cosine_similarity(product_user_cosine)
item_based_collabor

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [9]:
item_based_collabor = pd.DataFrame(data = item_based_collabor, index = product_user_cosine.index, columns = product_user_cosine.index)
item_based_collabor

product_id,1000978,1001588,1002042,1002062,1002098,1002099,1002100,1002101,1002102,1002103,...,55700079,55700119,55700126,55700154,56300022,56300037,56600004,57300036,60500001,60500002
product_id,,,,,,,,,,,,,,,,,,,,,
1000978,1.0,0.0,0.0,0.0,0.0,0.074796,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1001588,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1002042,0.0,0.0,1.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1002062,0.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1002098,0.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56300037,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
56600004,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
57300036,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
60500001,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
60500002,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [10]:
item_based_collabor.to_csv('cosine_similarity.csv')

### 입력한 product_id에 해당하는 제품과 비슷한 5개의 제품 출력(입력된 제품 포함)

In [11]:
def get_item_based_collabor(product_id):
    return item_based_collabor[product_id].sort_values(ascending=False)[:6]

In [16]:
get_item_based_collabor(1000978)

product_id
1000978     1.000000
8800714     0.301511
27701101    0.301511
28714333    0.301511
28715690    0.301511
28721453    0.301511
Name: 1000978, dtype: float64

### 입력한 product_id에 해당하는 제품과 비슷한 5개의 제품 정보 출력(입력된 제품 포함)

In [ ]:
conn = sqlite3.connect('cp2_data.db')
cur = conn.cursor()

query = cur.execute("""SELECT category_code, event_type, brand, price
FROM "2019-Oct"
WHERE category_code != '' AND brand != '' WHERE product_id = {product_id} LIMIT 1""")

cols = [column[0] for column in query.description]

df = pd.DataFrame.from_records(data=query.fetchall(), columns=cols)

conn.close()

In [28]:
def get_item_based_collabor(product_id):
    recommend = item_based_collabor[product_id].sort_values(ascending=False)[:6].index
    recommend_list = []
    for i in recommend:
        i = str(i)
        conn = sqlite3.connect('cp2_data.db')
        cur = conn.cursor()

        query = cur.execute("""SELECT category_code, event_type, brand, price
        FROM "2019-Oct"
        WHERE category_code != '' AND brand != '' AND product_id == {} LIMIT 1""".format(i))

        cols = [column[0] for column in query.description]

        df = pd.DataFrame.from_records(data=query.fetchall(), columns=cols)

        conn.close()
        recommend_list.append({'product id': i, 'category code': df['category_code'].iloc[0], 'brand': df['brand'].iloc[0], 'price': df['price'].iloc[0]})
    return recommend_list

In [41]:
recommend_item = get_item_based_collabor(1005239)
recommend_item

[{'product id': '1005239',
  'category code': 'electronics.smartphone',
  'brand': 'xiaomi',
  'price': '282.89'},
 {'product id': '4800756',
  'category code': 'electronics.audio.headphone',
  'brand': 'panasonic',
  'price': '9.24'},
 {'product id': '1005157',
  'category code': 'electronics.smartphone',
  'brand': 'xiaomi',
  'price': '282.89'},
 {'product id': '1801709',
  'category code': 'electronics.video.tv',
  'brand': 'sony',
  'price': '823.68'},
 {'product id': '8800814',
  'category code': 'electronics.telephone',
  'brand': 'maxvi',
  'price': '35.78'},
 {'product id': '2403002',
  'category code': 'appliances.kitchen.hood',
  'brand': 'haier',
  'price': '187.88'}]

In [44]:
from xgboost import XGBClassifier

model = XGBClassifier(enable_categorical=True) # 모델 초기화
model.load_model('model5.model') # 모델 불러오기

[20:20:23] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:940: Loading model from XGBoost < 1.0.0, consider saving it again for improved compatibility

c:\Users\USER\anaconda3\envs\cp2\lib\site-packages\xgboost\sklearn.py:741: UserWarning: Loading a native XGBoost model with Scikit-Learn interface.
  warnings.warn(

In [47]:
test = pd.read_csv('testview.csv').drop(['Unnamed: 0'], axis=1)
test

,brand,price,product_id,user_id,event_type,category_code_level1,category_code_level2,activity_count
0,94,150.04,1801766,558670273,0,7,55,12
1,807,52.08,14300312,512910051,0,7,1,4
2,713,131.27,5701084,518616373,0,3,0,5
3,81,160.55,4804056,519440228,0,7,1,7
4,1448,125.63,17800123,515153637,0,4,14,1
...,...,...,...,...,...,...,...,...
299995,1147,364.98,1004875,519812790,0,7,40,18
299996,1147,375.07,1004873,550424295,0,7,40,18
299997,617,179.90,5100721,512831600,0,7,10,3
299998,676,25.48,4802593,535853700,0,7,1,57
299999,1147,249.22,1004768,562194237,0,7,40,5

In [48]:
test_data = test[['brand', 'price', 'category_code_level1', 
                  'category_code_level2', 'activity_count']]
test_data

,brand,price,category_code_level1,category_code_level2,activity_count
0,94,150.04,7,55,12
1,807,52.08,7,1,4
2,713,131.27,3,0,5
3,81,160.55,7,1,7
4,1448,125.63,4,14,1
...,...,...,...,...,...
299995,1147,364.98,7,40,18
299996,1147,375.07,7,40,18
299997,617,179.90,7,10,3
299998,676,25.48,7,1,57
299999,1147,249.22,7,40,5

In [49]:
pred = model.predict(test_data)
print(pred)
print(len(pred))

[1 1 0 ... 1 0 1]
300000

### 추천시스템

In [59]:
# 제품id를 넣었을 때 유사한 제품 5개 리스트를 반환
def get_item_based_collabor(product_id):
    recommend = item_based_collabor[product_id].sort_values(ascending=False)[:6].index
    recommend_list = []
    for i in recommend:
        i = str(i)
        conn = sqlite3.connect('cp2_data.db')
        cur = conn.cursor()

        query = cur.execute("""SELECT category_code, event_type, brand, price
        FROM "2019-Oct"
        WHERE category_code != '' AND brand != '' AND product_id == {} LIMIT 1""".format(i))

        cols = [column[0] for column in query.description]

        df = pd.DataFrame.from_records(data=query.fetchall(), columns=cols)

        conn.close()
        recommend_list.append({'product id': i, 'category code': df['category_code'].iloc[0], 'brand': df['brand'].iloc[0], 'price': df['price'].iloc[0]})
    return recommend_list

# 고객id를 넣었을 때 추천할 제품 5개 정보를 반환
def recommend_item(user_id):
    final_recommend = []
    recent_product_id = cosine_test[cosine_test['user_id'] == user_id].iloc[-1]['product_id']
    recommend_item = get_item_based_collabor(recent_product_id)[1:]
    for item in recommend_item:
        try:
            idx = test[test['product_id'] == item['product id']].index[0]
            if pred[idx] == 1:
                final_recommend.insert(0, item)
                
        except:
            final_recommend.append(item)
            
    return final_recommend

recommend_item(558670273)

[{'product id': '4200865',
  'category code': 'appliances.environment.air_conditioner',
  'brand': 'midea',
  'price': '283.40'},
 {'product id': '9100762',
  'category code': 'computers.peripherals.mouse',
  'brand': 'defender',
  'price': '4.09'},
 {'product id': '5000413',
  'category code': 'appliances.sewing_machine',
  'brand': 'brother',
  'price': '253.01'},
 {'product id': '5000420',
  'category code': 'appliances.sewing_machine',
  'brand': 'janome',
  'price': '316.27'},
 {'product id': '2702534',
  'category code': 'appliances.kitchen.refrigerators',
  'brand': 'artel',
  'price': '221.11'}]